div {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}


.top-container {
    background-color: red;
    left: 400px;
}

.mid-container {
    background-color: blue;
    left: -200px;
}

.low-container {
    background-color: yellow;
    left: -200px;
}